<div class="container-fluid">
  <div class="col-sm-12 col-lg-8 col-xl-6 mx-auto">
    <div class="card mt-3 shadow-sm">
      <div class="card-body">
        <div class="text-center mb-2"><%= image_or_text_avatar @user, image_size: 64, text_size: 4 %></div>
        <%= render "form", user: @user %>
      </div>
    </div>
  </div>
</div>
