<div class='col-12 text-center mt-3'>
  <p>You haven't uploaded any docs or files yet.</p>
  <%= link_to icon('plus', text: 'Upload your first file now'), [:new, :project, :uploaded_file], class: 'btn btn-success' %>
</div>
