<div class='col-12 text-center mt-3'>
  <p>Welcome! You don't have any projects at the moment.</p>
  <%= link_to icon('plus', text: 'Create your first project'), [:new, :project], class: 'btn btn-success' %>
</div>
