<div class="col-md-6 mb-3">
  <div class="card h-100 shadow-sm">
    <div class="card-body p-2 small text-center">
      <div class="mb-1">
        <%= icon icon_for_content_type uploaded_file.content_type %>
      </div>
      <h3 class="h6 small"><%= uploaded_file.filename %></h3>
    </div>
  </div>
</div>
