<footer class="container-fluid mt-auto py-3">
  <div class="small text-center">
    <span>Carlos Ramirez III</span>
    <%= ascii_bullet class: 'mx-1' %>
    <span>&copy; <%= time_tag Date.new(2020, 8, 17) %></span>
    <%= ascii_bullet class: 'mx-1' %>
    <span><%= link_to icon('github fab', text: 'View Source'), 'https://github.com/carlosramireziii/basecamp_resume_on_rails', target: '_blank' %></span>
  </div>
</footer>
